{% extends "spyglassapp/base.html" %}
{% block content %}
    <h1>Here is your itinerary!</h1>
    <table class="table">
        <thead>
        <tr>
            <th>Attraction</th>
            <th>Tripexpert Score</th>
            <th>Latitude</th>
            <th>Longitude</th>
        </tr>
        </thead>
        <tbody>

        {% for venue in itin %}
            <tr>
                <td> {{ venue.name }} </td>
                <td> {{ venue.tripexpert_score }} </td>
                <td> {{ venue.id }}</td>
                <td> {{ venue.longitude }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}