{% extends "spyglassapp/base.html" %}
{% block content %}
<style>
#map {
    height: 600px;
    width: 100%;
}
</style>
<h1>Here is your itinerary!</h1>
<table class="table">
    <thead>
        <tr>
            <th>Attraction</th>
            <th>Tripexpert Score</th>
            <th>Address</th>
            <th>Phone Number</th>
            <th>Website</th>
        </tr>
    </thead>
    <tbody>

        {% for venue in itin %}
        <tr>
            <td> {{ venue.name }} </td>
            <td> {{ venue.tripexpert_score }} </td>
            <td> {{ venue.address }}</td>
            <td> {{ venue.phone }}</td>
            <td><a href="{{ venue.website }}">{{ venue.website }}</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div id="map"></div>
<script>
function initMap() {
    var locations = {{ coordinates }};
    var start = {lat: locations[0][0], lng: locations[0][1]};
    var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 14,
        center: start
    });

    var label = 'A'.charCodeAt(0);
    for (var i = 0; i < locations.length; i++) {
        var currLocation = locations[i];
        var marker = new google.maps.Marker({
            position: {lat: currLocation[0], lng: currLocation[1]},
            label: String.fromCharCode(label),
            map: map
        });
        label++;
    }
}


</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBD4Y4-37CkPsNRzX8V5nbOn74wDB37vdE&callback=initMap">
</script>



<h1>Reviews of Attractions</h1>

{% for venue in itin %}
<h2>{{ venue.name }}</h2>
<table class="table">
    <thead>
        <tr>
            <th>Source</th>
            <th>Extract</th>
            <th>Full Review</th>
        </tr>
    </thead>
    <tbody>

        {% for review in venue.reviews %}
        <tr>
            <td> {{ review.publication_name }} </td>
            <td> {{ review.extract }} </td>
            <td><a href="{{ review.source_url }}">{{ review.source_url }}</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endfor %}

{% endblock %}
