<!DOCTYPE html>
<html>
<head>
    <style>
       #map {
        height: 600px;
        width: 100%;
    }
</style>
</head>
<body>
    <div id="map"></div>
    <script>
      function initMap() {
          var start_lat = {{ start.lat }};
          var start_long = {{ start.long }};
          var start = {lat: start_lat, lng: start_long};
          var map = new google.maps.Map(document.getElementById('map'), {
              zoom: 14,
              center: start
          });
          markers = [];
          var marker0 = new google.maps.Marker({
              position: start,
              map: map,
              label: 'A'
          });
          markers.push(marker0)
            //TODO: make markers for the itinerary locations passed in through the 'locations' context variable
            var locations = {{ locations }};
            var label = 'B'.charCodeAt(0);
            for (var i = 0; i < locations.length; i++) {
                var currLocation = locations[i];
                var marker = new google.maps.Marker({
                    position: {lat: currLocation[0], lng: currLocation[1]},
                    label: String.fromCharCode(label),
                    map: map
                });
                markers.push(marker);
                label++;
            }

        }

    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBD4Y4-37CkPsNRzX8V5nbOn74wDB37vdE&callback=initMap">
</script>


</body>
</html>
